$container-width: 500px;
$font-stack: 'Helvetica Neue', Arial, 'Sans Serif';

// Breakpoints
// TODO: convert to phone, tablet, etc.
$bp1: 320px;
$bp2: 480px;
$bp3: 680px;
$bp4: 960px;
$bp5: 1140px;
$bp6: 1380px;