.o-grid {
    @include mq($phone-lg) {
        display: grid;
    }
}

.u-grid-align-end {
    align-items: end;
}

.u-grid-align-center {
    align-items: center;
}

.u-grid-gutter-lg {
    grid-column-gap: $gutter-lg;
    grid-row-gap: $gutter-lg;
}

.u-grid-gutter-xl {
    grid-column-gap: $gutter-xl;
    grid-row-gap: $gutter-xl;
}

.u-grid-of-3-cols {
    grid-template-columns: 1fr 1fr 1fr;
}

.u-grid-of-2-cols {
    grid-template-columns: 1fr 1fr;
}

.u-grid-span-2-of-3 {
    grid-column: span 2;
}

.u-grid-home {
    width: 100%;
}
