$color-alpha-xx-light: #fffcfe;
$color-alpha-x-light: #fce8c3;
$color-alpha-light: #f4d69e;
$color-alpha: #bf7e04;
$color-beta: #12110d;
$color-alpha-dark: #8e600d;
$color-alpha-x-dark: #593c05;
$color-alpha-xx-dark: #1a1102;

$medium-grey: #999;
$light-grey: #ccc;
