$color-alpha-xx-light: #fffcfe;
// $color-alpha-xx-light: #e9f6fa;
$color-alpha-x-light: #fac0df;
$color-alpha-light: #d20e5f;
$color-alpha: #8f0e39;
// $color-alpha: #73cdf0;
$color-alpha-dark: #4b1a33;
$color-alpha-x-dark: #251820;
$color-alpha-xx-dark: #171717;

$medium-grey: #999;
$light-grey: #ccc;
