$container-width: 90rem;

$alpha-font-stack: 'Work Sans', 'Helvetica Neue', Arial, 'Sans Serif';
$beta-font-stack: 'Lora';

// Breakpoints
// TODO: convert to phone, tablet, etc.
$phone-sm: 320px;
$phone: 480px;
$phone-lg: 680px;
$tablet: 960px;
$desktop: 1140px;
$desktop-lg: 1380px;

$gutter-xs: 8px;
$gutter-sm: 16px;
$gutter: 24px;
$gutter-lg: 48px;
$gutter-xl: 96px;
