<header>
	<div class="c-row c-row--lg">
		{{ partial "components/main-nav.html" . }}
	</div>

	<div class="c-row c-row--stretch c-row--lg c-row--header">
		<div class="o-grid u-grid-of-2-cols u-grid-align-center u-grid-home">
			<section class="c-intro">
				<h2 class="c-intro__header u-animate-slide-in-up">Medische pedicure Christine</h2>
				<span class="c-intro__seperator u-animate-slide-in-up">&</span>
				<h2 class="c-intro__header u-animate-slide-in-up">Dimitra Esthetica</h2>
			</section>

			<div class="">
				{{ partial "components/hero-image.html" . }}
			</div>
		</div>
	</div>
</header>