<header>
    <div class="o-container">
        {{ partial "components/main-nav.html" . }}
    </div>

    <div class="c-row--stretch c-row--header">
		<!-- <div class="o-container"> -->
			<div class="o-grid u-grid-of-2-cols u-grid-align-center u-grid-home">
				<section class="c-intro">
					<h2 class="c-intro__header u-animate-slide-in-up">{{ .Title }}</h2>
					<span class="c-intro__seperator u-animate-slide-in-up">{{ .Params.subTitle }}</span>
				</section>

				<div class="">
					{{ partial "components/hero-image.html" . }}
				</div>
			</div>
		<!-- </div> -->
    </div>
</header>
