.c-row {
    position: relative;
    padding: $gutter;
    // justify-content: space-between;
}

.c-row--stretch {
    padding-left: 0;
    padding-right: 0;
}

.c-row--sm {
    padding-top: $gutter-sm;
    padding-bottom: $gutter-sm;
}

.c-row--lg {
    padding-top: $gutter;
    padding-bottom: $gutter;

    @include mq($tablet) {
        padding-top: $gutter-lg;
        padding-bottom: $gutter-lg;
    }
}

.c-row--xl {
    padding-top: $gutter-xl;
    padding-bottom: $gutter-xl;
}

.c-row--header {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    // flex-wrap: wrap;

    background: $color-beta;

    @include mq($desktop) {
        // min-height: 60vh;
    }
}
