.c-intro {
    display: block;
    width: 100%;
    max-width: $container-width / 2;
    box-sizing: border-box;
    margin-left: auto;
    padding: 2rem;

    @include mq($tablet) {
        padding: 0 1.5rem;
    }
}

.c-intro__header {
    margin: 0;

    font-size: 1.6rem;
    font-weight: 600;
    color: $color-alpha-xx-light;
    text-align: center;
    line-height: 1;

    @include mq($phone-lg) {
        font-size: 2.2rem;
        text-align: left;
    }

    @include mq($desktop) {
        font-size: 2.2rem;
    }

    @include mq($desktop-lg) {
        font-size: 3rem;
    }
}

.c-intro__seperator {
    font-size: 1.2rem;
    line-height: 1;
    color: $color-alpha;

    text-align: center;
    display: block;

    @include mq($phone-lg) {
        display: inline-block;
        text-align: left;
    }
}
