.c-logo {
    width: 2.5rem;
    height: 2.5rem;

    @include mq($phone) {
        width: 4rem;
        height: 4rem;
    }
}

.c-logo__foot-a {
    fill: $color-alpha;
}

.c-logo__foot-b {
    fill: $color-beta;
}
