.c-nav-main {
    // padding: 0 1rem;

    @include mq($desktop) {
        // padding-right: 3rem;
    }
}

.c-nav-main__list {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
}

.c-nav-main__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mq($phone) {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }
}

.c-nav-main__item {
    text-align: right;

    &.is-selected .c-nav-main__link {
        color: $color-alpha;
    }

    margin-right: 1.5rem;
}

.c-nav-main__link {
    display: block;
    padding: $gutter-xs 0;

    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    color: $color-alpha-x-dark;

    &:hover {
        color: $color-alpha;
    }
}

.c-nav-main__cta {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;

    font-size: 0.9rem;
    text-decoration: none;
    color: $color-alpha-xx-light;

    background: $color-alpha;
    border-radius: 3px;

    &--hide-mobile {
        display: none;

        @include mq($phone) {
            display: inline;
        }
    }
}
