.c-nav-main {
}

.c-nav-main__list {
    list-style: none;
}

.c-nav-main__item {
    text-align: right;

    &.is-selected .c-nav-main__link {
        color: $color-alpha;
    }
}

.c-nav-main__link {
    display: block;
    padding: $gutter-xs 0;

    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: $color-alpha-dark;

    &:hover {
        color: $color-alpha;
    }
}
