.c-row {
	position: relative;
	margin: $gutter;
	// justify-content: space-between;
}

.c-row--stretch {
	margin-left: 0;
	margin-right: 0;
}

.c-row--sm {
	margin-top: $gutter-sm;
	margin-bottom: $gutter-sm;
}

.c-row--lg {
	margin-top: $gutter;
	margin-bottom: $gutter;

	@include mq($tablet) {
		margin-top: $gutter-lg;
		margin-bottom: $gutter-lg;
	}
}

.c-row--xl {
	margin-top: $gutter-xl;
	margin-bottom: $gutter-xl;
}

.c-row--header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

	@include mq($desktop) {
		min-height: 60vh;
	}
}
