body,
html {
    font-family: $alpha-font-stack;
    font-size: 16px;
    line-height: 1.6;
    color: $color-alpha-x-dark;

    background: $color-alpha-xx-light;
    // border: $gutter-xs solid $color-alpha;

    @include mq($tablet) {
        font-size: 17px;
    }
}

::selection {
    background: $color-alpha;
    color: $color-alpha-xx-light;
    opacity: 1;
}

p {
    font-size: 1.2rem;
    line-height: 1.9;
}

a {
    color: $color-alpha;
    // text-decoration: none;
    // border-bottom: 1px dashed $color-alpha-light;

    &:active {
        color: $color-alpha;
        // border-bottom: 1px dashed $color-alpha-x-light;
    }
}

:focus {
    outline-color: $color-alpha-light;
}
