{{ define "main" }}
	<main class="o-container">
		<div class="c-row">
			<h1>{{ .Page.Title }}</h1>
			<section class="o-grid u-grid-of-3-cols">
				<article class="u-grid-span-2-of-3">
					{{ .Content | markdownify }}
				</article>
				<div>
					<h2>Wie zijn we?</h2>
					<p>Wij zijn Christine en Dimitra. We staan klaar om onze klanten te helpen bij...</p>
				</div>
			</section>
		</div>
	</main>
	<div id="map" class="c-map"></div>
<!-- Deze pagina is in opbouw en deze info is niet correct. -->
{{ end }}